* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --nav-height: 70px;
  --heading-font: "Lora";
  --body-font: "Poppins";
}
html {
  scroll-padding-top: var(--nav-height);
}

body {
  margin: 0;
  padding-top: var(--nav-height);
  width: 100%;
  min-height: 100vh;
}

section {
  padding: 1rem 5rem;
  width: 100%;
  margin-bottom: 3rem;
  scroll-margin-top: var(--nav-height);
}

.body-font {
  font-family: var(--body-font);
}
.heading-font {
  /* font-family: "Montserrat"; */
  font-family: var(--heading-font);
}
.chocolate-text {
  color: rgb(166, 82, 23);
}
.gray-text {
  color: rgb(134, 134, 134);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: white;
  padding-right: 1rem;
  z-index: 10;
}


.logo {
  width: 12rem;
  justify-self: start;
}
.logo img {
  width: 100%;
}
.nav-links {
  justify-self: center;
}
.nav-links ul {
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
  justify-content: space-around;
}
.nav-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: rgb(166, 82, 23);
}
.nav-buttons {
  justify-self: end;
  display: flex;
  align-items: center;
}
.nav-buttons i {
  padding-left: 0;
  padding-right: 2rem;
  cursor: pointer;
}
.fa-magnifying-glass {
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
}
.fa-magnifying-glass:hover {
  color: rgb(166, 82, 23);
}
.fa-heart {
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
}
.fa-heart:hover {
  color: rgb(166, 82, 23);
}
.fa-bag-shopping {
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
}
.fa-bag-shopping:hover {
  color: rgb(166, 82, 23);
}
.chocolate-links {
  padding: 0.5rem 1.3rem;
  color: white;
  background-color: rgb(166, 82, 23);
  border-radius: 999px;
  height: fit-content;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.15s ease, 
              transform 0.15s ease;
}
.chocolate-links:hover {
  background-color: rgb(222, 113, 36);
  transform: scale(1.05);
}
.chocolate-links:active {
  background-color: rgb(166, 82, 23);
  transform: scale(1);
}

.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - var(--nav-height));
  column-gap: 3rem;
  align-items: center;
}

.home-page-left {
}
.trending-text {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.home-page-heading {
  font-size: 4rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.18;
}
.home-page-heading p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.home-page-description {
  font-size: 1rem;
  width: 70%;
  line-height: 1.6;
}

.cta {
  display: flex;
  gap: 1.8rem;
  margin-top: 2.5rem;
  align-items: center;
}
.watch-video-link {
  color: black;
  height: fit-content;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.15s;
  padding: 0.5rem 1.3rem;
  border-radius: 999px;
  box-shadow: 0 0 5px rgba(166, 82, 23, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.watch-video-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(166, 82, 23, 0.5);
}
.watch-video-link:active {
  transform: scale(1);
}
.fa-play {
  color: rgb(0, 0, 0);
}
.loved-by {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2.7rem;
  font-size: 0.8rem;
}
.loved-by-images {
  display: flex;
  align-items: center;
}
.people-image {
  width: 2rem;
  height: 2rem;
  background-color: gray;
  border: none;
  border-radius: 50%;
}
.people-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.home-page-right {
  position: relative;
}
.home-page-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accent-chair-price-card {
  padding: 0.6rem 1rem;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: 2rem;
  right: 0.5rem;
  transition: box-shadow 0.5s ease;
}
.accent-chair-price-card:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.accent-chair-price-card .card-product-name {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}
.accent-chair-price-card .card-product-type {
  font-size: 0.8rem;
  display: inline-block;
  margin-right: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}
.accent-chair-price-card .card-product-price {
  color: black;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.accent-chair-price-card hr {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.color-options * {
  display: inline-block;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}
.color-options p {
  font-size: 0.8rem;
  vertical-align: middle;
  margin-right: 4rem;
}
.colors {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5rem;
  cursor: pointer;
}
.color-options #first {
  background-color: rgb(249, 228, 203);
}
.color-options #second {
  background-color: rgb(54, 54, 54);
}
.color-options #third {
  margin-right: 0;
  background-color: rgb(152, 152, 152);
}

/* shop-page-styles */

.shop-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  padding: 1rem 3rem;
}
.shop-page-card {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 1.5rem;
  padding: 2rem 2.5rem;
  align-items: center;
}
.shop-page-card-image img{
  width: 100%;
  object-fit: cover;
}
.shop-page-card-text .shop-page-card-heading {
  font-size: 1.7rem;
  line-height: 1.4;
  margin-bottom: 0.7rem;
}
.shop-page-card-text .shop-page-card-description {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.shop-page-card-text .shop-page-card-link a {
  text-decoration: none;
  font-size: 1rem;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.1rem;
  transition: border-color 0.3s ease;
}
.shop-page-card-text .shop-page-card-link a:hover {
  border-color: rgb(166, 82, 23);
}
#shop-page-card-1 {
  background-color: #F6EFE7;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
#shop-page-card-2 {
  background-color: #F0F0E7;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
#shop-page-card-2 a{
  color: rgb(0, 0, 0);
}
#shop-page-card-2 a:hover{
  border-color: rgb(0, 0, 0);
}

/* collections-page styles */

.collections-page {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.5rem;
  margin-bottom: 1rem;
}
.collections-page-heading {
  align-self: center;
  justify-self: center;
}
.collections-page-h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.collections-page-product-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0.9rem;
}
.collections-page-cards {
  background-color: rgb(230, 230, 230);
  position: relative;
  border-radius: 2%;
  display: grid;
  grid-template-rows: 65% 35%;
  transition: box-shadow 0.15s ease;
}
.fa-star {
  color: rgb(222, 113, 36);
}
.collections-product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}
.product-like {
  position: absolute;
  bottom: 0.5rem;
  right: 0.9rem;
  cursor: pointer;
}
.collections-product-name {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}
.collections-product-about {
  padding: 0.6rem 0.9rem;
}
.collections-product-reviews {
  margin-bottom: 0.7rem;
}
.collections-product-price {
  font-weight: 500;
  font-size: 0.85rem;
}
.collections-page-cards:hover{
  box-shadow: 0 4px 0.4rem rgba(0, 0, 0, 0.2);
}

/* about-page styles */


.about-page-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F7EEE7;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.about-page-image img {
  width: 100%;
  object-fit: cover;
  background-color: #F7EEE6;
}
.about-page-text {
  background-color: #F7EEE6;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.limited-offer-text {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.offer {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}
.bestsellers {
  font-size: 0.9rem;
  margin-bottom: 1.8rem;
  font-weight: 500;
}
.about-page-text a{
  border-radius: 0.5rem;
  width: fit-content;
}

/* contact-page styles */

.contact-page {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.contact-page-h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}
.contact-page-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}
.contact-page-card {
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: rgb(230, 230, 230);
  row-gap: 0.5rem;
  border-radius: 1rem;
  transition: box-shadow 0.15s ease;
}
.contact-page-card:hover{
  box-shadow: 0 4px 0.4rem rgba(0, 0, 0, 0.2);
}
.contact-card-image img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.contact-card-text {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4rem;
}
.contact-card-text p {
  margin: 0;
}
.card-topic {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.card-date {
  font-size: 0.8rem;
}

/* support page styles */

.support-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.support-page-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.support-page-card-text .one {
  font-size: 0.8rem;
  font-weight: 500;
}
.support-page-card-text .two {
  font-size: 0.7rem;
}
.support-page-card {
  transition: color 0.3s ease;
  cursor: pointer;
}
.support-page-card:hover {
  color: rgb(222, 113, 36);
}

/* footer styles */

footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(166, 82, 23);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2rem 2rem;
  column-gap: 3rem;
  transition: all 0.3s ease;
}
footer:hover {
  background-color: rgb(222, 113, 36);
}
footer a{
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: var(--body-font);
  display: block;
  margin-bottom: 0.8rem;
}
.footer-logo {
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
}
.footer-grid-headings {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.social-media-icons {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  margin-top: 1.2rem;
}
.fa-brands {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.6rem 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.fa-brands:hover{
  color: rgb(222, 113, 36);
  background-color: white;
}